POSTGRES_DB=stowage_system
POSTGRES_USER=stowage
POSTGRES_PASSWORD=stowage123
POSTGRES_PORT=5432
REDIS_PORT=6379
BACKEND_PORT=8080
ALGORITHM_PORT=8000
NGINX_PORT=8088
ALGORITHM_BASE_URL=http://algorithm-service:8000
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stowage_system
SPRING_DATASOURCE_USERNAME=stowage
SPRING_DATASOURCE_PASSWORD=stowage123
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379
